.navbar {
  --bs-navbar-padding-x: 1rem;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: rgba(21, 21, 21, 0.7);
  --bs-navbar-hover-color: rgba(21, 21, 21, 0.8);
  --bs-navbar-active-color: rgba(21, 21, 21, 0.9);
  --bs-navbar-brand-font-size: 1.5rem;
  --bs-navbar-brand-color: rgba(21, 21, 21, 0.9);
  --bs-navbar-nav-link-padding-x: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  z-index: 1000;
  margin-left: 25%;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar-brand {
  font-size: var(--bs-navbar-brand-font-size);
  font-weight: bold;
  color: var(--bs-navbar-brand-color);
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-nav .nav-item {
  margin: 0 0.5rem;
}

.navbar-nav .nav-link {
  color: var(--bs-navbar-color);
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  padding: var(--bs-navbar-nav-link-padding-x);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: var(--bs-navbar-hover-color);
}

/* Responsive pour mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0.5rem;
  }

  .navbar .container {
    flex-direction: column;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    margin: 0.5rem 0;
  }
}



/* Container Styles */
.container {
    
    font-family: 'Arial', sans-serif;
  }
  
  /* Form Section */
  form {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
  }
  
  form h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-weight: bold;
    color: #555;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  
  input.form-control:focus,
  textarea.form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .scrollable-form {
    max-height: 1000px;  /* Adjust the height as needed */
    overflow-y: auto;   /* Enable vertical scrolling */
  }