.customization-page {
    padding: 20px;
    text-align: center;
    margin-top: 120px; /* Space below navbar */
  }
  
  .navbar-container {
    background-color: #040a39; /* Match navbar's background */
  }
  
  .dark-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .instructions,
  .options {
    margin-top: 20px;
  }
  
  .btn-next-step,
  .btn-option {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #0c3867;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-next-step:hover,
  .btn-option:hover {
    background-color: #051c36;
  }
  